$nav-theme-1-color-gray-a: $color-gray-a;
$nav-theme-1-color-gray-b: $color-gray-b;
$nav-theme-1-color-gray-c: $color-gray-c;

$nav-theme-1-color-blue-a: $color-blue-a;
$nav-theme-1-color-blue-b: $color-blue-b;

$nav-theme-1-color-scheme-blue-1: $color-scheme-blue-1;

$nav-theme-1-color-scheme-gray-1: $color-scheme-gray-1;
$nav-theme-1-color-scheme-gray-2: $color-scheme-gray-2;

.nav-theme-1 {

  @include flex-default-container();
  @include reset-style-list();

  flex-wrap: wrap;
  
  // Define os blocos principais de divisao do menu
  .item-1 {

    @include flex-default-container();

    .block-1 {

      @include flex-default-container();

    }

    // Cria os estilos referente ao menu
    .link-1 {

      @include flex-default-container();
      padding: 10px;
      border-bottom: 1px solid $nav-theme-1-color-gray-a;

      font-size: 0.9rem;
      text-decoration: none;

      transition: all 0.3s ease-out;

      .icon-1 {

        color: $nav-theme-1-color-scheme-gray-2;
        align-self: center;
        transition: all 0.5s ease-out;

      }

      .info-1 {
          
        color: $nav-theme-1-color-scheme-gray-1;
        align-self: center;
        margin-left: 3px;

      }

    }
    
    // Comportamentos de hover para elementos nao selecionados
    &:not(.selected):hover {

      .link-1 {

        background: $nav-theme-1-color-scheme-blue-1;

        .icon-1 {

          color: $nav-theme-1-color-blue-a;

        }

      }

    }

    &.selected {

      .link-1 {

        background: #fff;

        cursor: default;

        .icon-1 {

          color: $nav-theme-1-color-gray-b;

        }

      }
      
      &:after {
        flex: 0 0 1px;
        content: '';
        width: 1px;
        background: #fff;
      }

    }

  }

}

@media screen and (min-width: $view-1-min-width) and (max-width: $view-1-max-width) {
  
  .nav-theme-1 {
    
    .info-1 {

      display: none !important;

    }

  }

}