$nav-theme-1-color-a: $color-gray-a;
$nav-theme-1-color-b: $nav-color-hover-a;
$nav-theme-1-color-c: $color-blue-a;
$nav-theme-1-color-d: $color-gray-b;
$nav-theme-1-color-e: $color-gray-c;

.nav-theme-1{

  .main-navigation {

    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
  
    .item {

      display: flex;
      flex: 0 0 100%;
      font-size: 0.9rem;
      
      border-bottom: 1px solid $nav-theme-1-color-a;

      transition: all 0.3s ease-out;

      .link {

        display: flex;
        flex: 0 0 100%;
        padding: 10px;

        text-decoration: none;


        .icon{
          
          color: $nav-theme-1-color-e;
          align-self: center;
          transition: all 0.5s ease-out;
          
        }

        .info{
          
          color: $nav-theme-1-color-d;
          align-self: center;
          margin-left: 3px;

        }

      }

      &:not(.selected):hover {

        background: $nav-theme-1-color-b;

        .icon{
          color: $nav-theme-1-color-c;
        }

      }

      &.selected{

        background: #fff;
        
        &:after {
          flex: 0 0 1px;
          content: '';
          width: 1px;
          background: #fff;
        }

        .link {
          cursor: default;

          .icon{
            
            color: $nav-theme-1-color-d;

          }

        }

      }

    }


  }

}

@media screen and (min-width: $view-1-min-width) and (max-width: $view-1-max-width) {

  .nav-theme-1{

    .main-navigation {

      .item {
        
        .link {

          align-items: center;
          justify-content: center;

          .info{
            display: none;
          }

        }

      }

    }

  }

}