$nav-theme-1-color-gray-a: $color-gray-a;
$nav-theme-1-color-gray-b: $color-gray-b;
$nav-theme-1-color-gray-c: $color-gray-c;

$nav-theme-1-color-blue-a: $color-blue-a;
$nav-theme-1-color-blue-b: $color-blue-b;

$nav-theme-1-color-scheme-blue-1: $color-scheme-blue-1;
$nav-theme-1-color-scheme-blue-2: $color-scheme-blue-2;

$nav-theme-1-color-scheme-gray-1: $color-scheme-gray-1;
$nav-theme-1-color-scheme-gray-2: $color-scheme-gray-2;

$nav-theme-1-color-scheme-orange-1: $color-scheme-orange-1;

.nav-theme-2{

  @include flex-default-container();
  @include reset-style-list();

  flex-wrap: wrap;

  
  // Define os blocos principais de divisao do menu
  .item-1 {

    @include flex-default-container();
    flex-wrap: wrap;

    .block-1 {

      @include flex-default-container();

    }
    
    // Cria os estilos referente ao menu
    .link-1 {
      
      @include flex-default-container();

      align-items: center;
      padding: 8px 10px;

      border-top: 1px solid #f5f5f5;
      border-bottom: 1px solid #f5f5f5;

      
      font-size: 0.8rem;
      text-decoration: none;

      transition: all 0.15s ease-out;

      .bullet-1 {

        display: flex;
        height: 22px;
        flex: 0 0 22px;
        word-break: keep-all;
        align-items: center;
        justify-content: center;
        
        margin-right: 5px;
        
        font-size: 0.7rem;

        border-radius: 11px;

        background-color: $nav-theme-1-color-scheme-gray-2;

        transition: all 0.5s ease-out;

        .icon-1 {

          color: $nav-theme-1-color-scheme-gray-1;
          align-self: center;
          color: #fff;

          transition: all 0.5s ease-out;

        }

      }

      .info-1 {
          
        color: $nav-theme-1-color-scheme-gray-1;
        flex-grow: 1;

      }

      .icon-list-1 {
        
        color: $nav-theme-1-color-scheme-gray-2;

        transition: all 0.5s ease-out;

      }

    }

    &.active {
      
      .link-1{
        
        background-color: #FDF1DB;

        cursor: default;

        .bullet-1 {

          background-color: transparent;

          .icon-1 {

            font-size: 1.1rem;
            color: $nav-theme-1-color-scheme-gray-1;

          }

        }

        .info-1 {

          color: $nav-theme-1-color-scheme-gray-1;

        }

        .icon-list-1 {

          transform: rotate(90deg);

          color: $color-orange-a;

        }

      }

      .sub-list-1 {

        display: block;

      }

    }

    &.selected{

      .block-1 {

        &:after {
          flex: 0 0 1px;
          content: '';
          width: 1px;
          background-color: #fff;
        }

        .link-1 {

          background-color: #fff;
          border-top: 1px solid $nav-theme-1-color-gray-a;
          border-bottom: 1px solid $nav-theme-1-color-gray-a;

          cursor: default;

          .bullet-1 {

            background: $color-orange-a;
          }

          .info-1 {

            font-weight: bold;
            color: $color-orange-a;

          }

        }

      }

    }

    &:not(.selected):not(.active):hover {

      .link-1 {

        background-color: $nav-theme-1-color-scheme-blue-1;

        border-top: 1px solid $nav-theme-1-color-scheme-blue-1;
        border-bottom: 1px solid $nav-theme-1-color-scheme-blue-1;

        .bullet-1 {

          background-color: $nav-theme-1-color-scheme-blue-2;

        }

        .info-1 {

          color: $nav-theme-1-color-scheme-blue-2;

        }

        .icon-list-1 {
          
          // color: $nav-theme-1-color-scheme-blue-2;

        }

      }

    }

    .sub-list-1 {

      @include flex-default-container();
      @include reset-style-list();
      
      border-top: 1px solid $color-gray-d;
      border-bottom: 1px solid $color-gray-d;
      background-color: #fff;

      display: none;

      .item-2 {

        @include flex-default-container();

        .block-2 {

          @include flex-default-container();

        }

        .link-2 {

          @include flex-default-container();
          align-items: center;

          padding: 8px 10px 8px 36px;

          font-size: 0.8rem;
          text-decoration: none;

          transition: all 0.5s ease-out;

          .icon-2 {

            color: $nav-theme-1-color-scheme-gray-2;
            margin-right: 5px;

            transition: all 0.5s ease-out;

          }

          .info-2 {
            
            color: $nav-theme-1-color-scheme-gray-1;
            
            transition: all 0.5s ease-out;

          }

        }

        &:not(.selected):not(.active):hover {
          
          .link-2 {

            background-color: $nav-theme-1-color-scheme-blue-1;

            .icon-2 {

              color: $nav-theme-1-color-scheme-blue-2;

            }

            .info-2 {

              color: $nav-theme-1-color-scheme-blue-2;

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: $view-1-min-width) and (max-width: $view-1-max-width) {
  
  .nav-theme-2 {

    :not(.active).item-1 {
    
      .block-1 {

        .link-1 {

          flex-wrap: wrap;
          justify-content: center;

          .bullet-1 {

            margin: 0;

          }

          .info-1 {

            display: none;

          }

          .icon-list-1 {

            margin-top: -3px;
            transform: rotate(-90deg);
            font-size: 0.7rem;

          }

        }

      }

      .sub-list-1 {
        
        display: none !important;
      }

    }

    .item-1 {
    
      .block-1 {

        .link-1 {

          flex-wrap: wrap;
          justify-content: center;

          .bullet-1 {

            margin: 0;

          }

          .info-1 {

            display: none;

          }

          .icon-list-1 {

            margin-top: -3px;
            transform: rotate(90deg);
            font-size: 0.7rem;

          }

        }

      }

      .sub-list-1 {
        
        display: none !important;
      }

    }

  }

}