$percent-default: 100%;
$unit-default: 0;
$header-height: 80px;
$nav-width: 300px;

$nav-collapse-width: 50px;

$color-blue-a: #1B7CA6;

@mixin absolute-blocks ($width: $percent-default, $height: $percent-default, $top: $unit-default, $left: $unit-default, $right: $unit-default) {
    
    @if $width == null {
      $width: $percent-default
    }

    @if $height == null {
      $height: $percent-default
    }

    @if $top == null {
      $top: $unit-default
    }

    @if $left == null {
      $left: $unit-default
    }

    @if $right == null {
      $right: $unit-default
    }

    width: $width;
    height: $height;
    position: absolute;
    top: $top;
    left: $left;
    right: $right;

}

#jsConsole{
  display: none;
}

html {
  line-height: 0; 
}

[class^="col-"] {
  min-height: 0;
}

.panel-section {
  
  @include absolute-blocks(null);
  
  background: #eee;

  .panel-header {

    @include absolute-blocks(null, $header-height);

    background: #eee;
    border-bottom: 3px solid $color-blue-a;

    -webkit-box-shadow: 0px -2px 20px 1px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px -2px 20px 1px rgba(0,0,0,0.62);
    box-shadow: 0px -2px 20px 1px rgba(0,0,0,0.62);

    z-index: 3;

  }

  .panel-nav {
    
    @include absolute-blocks(
      $nav-width,
      calc(#{$percent-default} - #{$header-height}),
      $header-height
    );
    
    border-right: 1px solid #ddd;
    background: #f5f5f5;

    z-index: 2;

  }

  .panel-article {

    @include absolute-blocks(
      calc(#{$percent-default} - #{$nav-width}),
      calc(#{$percent-default} - #{$header-height}),
      $header-height,
      auto
    );

    background: #f5f5f5;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    z-index: 1;

    .panel-iframe {

      @include absolute-blocks(null, null, 0, 0);

      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;

    }

  }

}

@media screen and (max-width: 600px) {
    
    .panel-section {
      
      .panel-nav {
        display: none;
      }

      .panel-article {
        width: $percent-default;
        left: 0;
        right: auto;
      }

    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    
    .panel-section {
      
      .panel-nav {
        
        width: $nav-collapse-width;

      }

      .panel-article {

        @include absolute-blocks(
          calc(#{$percent-default} - #{$nav-collapse-width}),
          calc(#{$percent-default} - #{$header-height}),
          $header-height,
          auto,
          0
        );

      }

    }
}