$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
#jsConsole{
  display: none;
}