// Defaults
$percent-default: 100%;
$unit-default: 0;

$header-height: 80px;

$header-height-space: $header-height;

$nav-width: 300px;
$nav-collapse-width: 40px;

$nav-height: calc(#{$percent-default} - #{$header-height});

$article-width: calc(#{$percent-default} - #{$nav-width});
$article-height: calc(#{$percent-default} - #{$header-height});

$color-blue-a: #1B7CA6;

$color-gray-a: #ddd;
$color-gray-b: #555;

// ############################################### Customize views #####################################################

// View 1
$view-1-max-width: 960px;
$view-1-min-width: 560px;

$header-height-view-1: $header-height;
$header-height-space-view-1: $header-height-view-1;

$article-width-view-1: calc(#{$percent-default} - #{$nav-collapse-width});
$article-height-view-1: calc(#{$percent-default} - #{$header-height});

// View 2
$view-2-max-width: $view-1-min-width;
$view-2-min-width: 100px;

$header-height-view-2: 50px;
$header-height-space-view-2: $header-height-view-2;

$article-width-view-2: $percent-default;
$article-height-view-2: calc(#{$percent-default} - #{$header-height-view-2});